# category_encoders==2.8.1
# # dask==2026.3.0
# # dvc==3.67.1
# joblib==1.5.3
# # PyYAML
# numpy==2.2.6
# pandas==2.3.3
# scikit-learn==1.7.2
# scipy==1.15.3
# streamlit==1.56.0

streamlit==1.32.2
pandas==2.2.2
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2
joblib==1.3.2
category_encoders==2.6.3